<div class='footer-container'>
  <%= link_to '<i class="fa-brands fa-github"></i>'.html_safe, 'https://github.com/dcapelamacedo' %>
  <%= link_to '<i class="fa-brands fa-linkedin"></i>'.html_safe, 'https://www.linkedin.com/in/diogo-capela-macedo-82b512124/' %>
</div>
