<div class='pic-about'>
  <%= image_tag 'logo.jpg', class:'logo-img' %>
  <div class='top-description'>
    <p><i class="fa-solid fa-location-pin"></i> Lisbon, Portugal</p>
    <p><i class="fa-solid fa-person-walking-luggage"></i> Willing to relocate</p>
    <p><i class="fa-solid fa-language"></i> Portuguese, English, Spanish</p>
    <p><i class="fa-solid fa-computer"></i> Ruby, Python, SQL(BigQuery)</p>
  </div>
  <h1>About</h1>
  <div class='paragraphs-about'>
    <p>I am a highly analytical, multilingual individual who relishes challenges
    and works well under pressure.</p>
    <p>I have recently graduated from a Web Development
    Bootcamp at Le Wagon. </p>
    <p>I am experienced in visualization tools like Metabase and Looker.</p>
    <p>
    Moreover, I know how to run ETL (Extract - Transform - Loading) with Dataform
    transformations and respective unit tests.
    </p>
    <p>As well as write Dagster solids and pipelines with Datadog monitoring.</p>
    <p>I also know how to use Amplitude to run UX research.</p>
  </div>
</div>
