.navbar-container {
  margin-top: 30px;

  .logo {
    margin: 10px 0 0 1px;
    font-size: 30px;
    color: rgba(0, 0, 0, 0.5);
    font-weight: bolder;
    &:hover {
      text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
      color: rgba(0, 0, 0, 0.8);
    }
  }

}
